sudo: false
language: ruby
script: bin/test
install: bin/bootstrap --path vendor/bundle --without development debug
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.10
  - 2.2.7
  - 2.3.4
  - 2.4.1
  - ruby-head
  - jruby
  - jruby-20mode
  - jruby-21mode
  - jruby-9.1.12.0
matrix:
  include:
    - rvm: jruby-9.1.12.0
      env: JRUBY_OPTS='--dev'
    - rvm: jruby-9.1.12.0-20mode
      env: JRUBY_OPTS='--dev'
    - rvm: jruby-9.1.12.0-21mode
      env: JRUBY_OPTS='--dev'
  allow_failures:
  - rvm: ruby-head
  - rvm: jruby-9.1.12.0
    env: JRUBY_OPTS='--dev'
  - rvm: jruby-9.1.12.0-20mode
    env: JRUBY_OPTS='--dev'
  - rvm: jruby-9.1.12.0-21mode
    env: JRUBY_OPTS='--dev'
  fast_finish: true
branches:
  only:
    - master
    - still
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/d4d9080e2a8c4910f609
env:
  global:
   - secure: l8uznA5K4K9mZ1krmP3lTMD8WcJ32qGxFOR3jubKHcOBSLB4xSzU2aIqjyJdO+rLzebkwamhJc8pGSIWOUDQYvFiX7splK+uEkbBJ5huAhXtLF4Qgl86bCWbEXYzN7rvn0DQfpJAovyFMNRMnfo70XhwqWzFsaYa7Z0YbqYsJE4=
   - JRUBY_OPTS='--dev'
cache: apt
addons:
  apt:
    packages:
    - zsh
