language: ruby
rvm:
- 2.1.1
- 2.1.0
- 2.0.0
- 1.9.3
- jruby-19mode
- rbx
matrix:
  allow_failures:
  - rvm: rbx
notifications:
  email:
  - cukes-devs@googlegroups.com
  irc:
  - irc.freenode.org#cucumber
env:
  global:
    secure: l8uznA5K4K9mZ1krmP3lTMD8WcJ32qGxFOR3jubKHcOBSLB4xSzU2aIqjyJdO+rLzebkwamhJc8pGSIWOUDQYvFiX7splK+uEkbBJ5huAhXtLF4Qgl86bCWbEXYzN7rvn0DQfpJAovyFMNRMnfo70XhwqWzFsaYa7Z0YbqYsJE4=
