.console {
  background-color: #000000;
  color: #ffffff;
}

.console .xterm_ef1 { /* red */
  color: #ff0000;
}

.console .xterm_ef2 { /* green */ 
  color: #00ff00;
}

.console .xterm_ef3 { /* yellow */ 
  color: #ffff00;
}

.console .xterm_ef6 { /* cyan */ 
  color: #00ffff;
}

.console .xterm_ef8 { /* gray */ 
  color: #888888;
}
