.console { 
	background-color: #000000;
	color: #ffffff;
}

.console .red { 
	color: #ff0000;
}

.console .green { 
	color: #00ff00;
}

.console .cyan { 
	color: #00aaaa;
}

.console .grey { 
	color: #777777;
}

.console .yellow { 
	color: #aa5500;
}