.filesystem ul {
  background: #FFFFFF;
  margin: 0;
  padding: 0;
}

.filesystem li {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 4px;
}

.filesystem li .highlight {
  display: block;
  border: 1px solid #CCCCCC;
  margin-top: 4px;
}

.filesystem li .highlight pre, pre.console {
  margin: 2px;
  padding: 2px;
}

.filesystem li.file {
  cursor: pointer;
}

.filesystem li.folder {
  background: url('../images/folder.png') no-repeat;
}

.filesystem li.feature {
  background: url('../images/page_white_gherkin.png') no-repeat;
}

.filesystem li.rb {
  background: url('../images/page_white_ruby.png') no-repeat;
}

.filesystem li.unknown {
  background: url('../images/page_white.png') no-repeat;
}
