.filesystem pre {
  margin: 2px;
  padding: 2px;
}

.filesystem ul {
  background: #F8F8F8;
  margin: 0;
  padding: 0;
}

.filesystem li {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 4px;
}

.filesystem li.folder {
  background: url('../images/folder.png') no-repeat;
}

.filesystem li.feature {
  background: url('../images/page_white_gherkin.png') no-repeat;
}

.filesystem li.rb {
  background: url('../images/page_white_ruby.png') no-repeat;
}

.filesystem li.unknown {
  background: url('../images/page_white.png') no-repeat;
}
