<% if children(file).any? %>
  <ul>
    <% children(file).each do |child| 
        css_class = File.directory?(child) ? 'folder' : File.extname(child) == '' ? 'file unknown' : 'file ' + File.extname(child)[1..-1]
    -%>
      <li class="<%= css_class %>"><span class="filename"><%= File.basename(child) -%></span>
        <% if File.file?(child) %>
          <%= pygmentize(child) %>
        <% end %>
        <% again(erb, _erbout, child) -%>
      </li>
    <% end -%>
  </ul>
<% end -%>