# This workflow will download a prebuilt Ruby version, install dependencies and
# run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '16 4 12 * *'

env:
  CUCUMBER_PUBLISH_QUIET: true
  JRUBY_OPTS: "--dev"

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: ["3.0", jruby-9.2]
        appraisal: [cucumber_7]
        include:
          - ruby: "2.5"
            appraisal: cucumber_4
          - ruby: "2.6"
            appraisal: cucumber_5
          - ruby: "2.7"
            appraisal: cucumber_6

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.appraisal }}.gemfile

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - uses: actions/cache@v2
        with:
          # NOTE: Bundler expands the path relative to the gemfile, not the
          # current directory.
          path: ./gemfiles/vendor/bundle
          key: bundled-gems-${{ runner.os }}-ruby-${{ matrix.ruby }}-${{ matrix.appraisal }}-${{ hashFiles(env.BUNDLE_GEMFILE, '*.gemspec') }}
          restore-keys: |
            bundled-gems-${{ runner.os }}-ruby-${{ matrix.ruby }}-${{ matrix.appraisal }}-
            bundled-gems-${{ runner.os }}-ruby-${{ matrix.ruby }}-
      - name: Install gems
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4
      - name: Run specs
        run: bundle exec rake spec
      - name: Run cukes
        run: bundle exec rake cucumber

  test-macos:
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.5, 2.6, 2.7, "3.0"]

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run specs
        run: bundle exec rake spec
      - name: Run cukes
        run: bundle exec rake cucumber

  test-windows:
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.5, 2.6, 2.7, "3.0"]

    runs-on: windows-latest

    steps:
      - name: git config autocrlf
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run specs
        run: bundle exec rake spec

  checks:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: Install license_finder
        run: gem install license_finder
      - name: Run linters
        run: bundle exec rake lint
      - name: Run license_finder
        run: license_finder
