# This workflow will download a prebuilt Ruby version, install dependencies and
# run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: CI

"on":
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '16 4 12 * *'

env:
  CUCUMBER_PUBLISH_QUIET: true
  RUBYOPTS: "--disable-did-you-mean"
  JRUBY_OPTS: "--dev"

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: ["3.1", "3.2", "jruby-9.4", "3.3.0-preview3"]
        appraisal: [cucumber_8, cucumber_9]
        include:
          - ruby: "2.7"
            appraisal: cucumber_8
          - ruby: "3.0"
            appraisal: cucumber_8

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.appraisal }}.gemfile

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run specs
        run: bundle exec rake spec
      - name: Run cukes
        run: bundle exec rake cucumber

  test-macos:
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7, "3.0", "3.1", "3.2"]

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run specs
        run: bundle exec rake spec
      - name: Run cukes
        run: bundle exec rake cucumber

  test-windows:
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7, "3.0"]

    runs-on: windows-latest

    steps:
      - name: git config autocrlf
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run specs
        run: bundle exec rake spec

  checks:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: true
      - name: Install license_finder
        run: gem install license_finder
      - name: Run linters
        run: bundle exec rake lint
      - name: Run license_finder
        run: license_finder
