# This workflow will download a prebuilt Ruby version, install dependencies and
# run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '16 4 12 * *'

env:
  CUCUMBER_PUBLISH_QUIET: true
  RUBYOPTS: "--disable-did-you-mean"
  JRUBY_OPTS: "--dev"

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # - Users should upgrade to the latest Cucumber that is supported on
        #   their version of Ruby
        # - Users should upgrade to the latest RSpec that is supported on
        #   their version of Ruby
        #
        # To facilitate this:
        # - We should test with the latest Cucumber that is supported for each
        #   version of Ruby
        # - On the miminum Ruby version supported by each Cucumber version, we
        #   should also test with the next earlier Cucumber version, to
        #   facilitate upgrades
        # - We should test with each Cucumber version supported by Aruba at
        #   least once
        # - We explicitly test with upcoming RSpec 4.0 at least once
        #
        # Cucumber    | Minimum Ruby Version
        # ------------------------------------
        # Cucumber 8  | Ruby 2.6
        # Cucumber 9  | Ruby 2.7
        # Cucumber 10 | Ruby 3.1
        #
        ruby: ["3.1", "jruby-9.4", "3.2", "3.3", "3.4", "jruby-10.0", "4.0"]
        appraisal: [cucumber_10]
        include:
          - ruby: "3.0"
            appraisal: cucumber_8
          - ruby: "3.0"
            appraisal: cucumber_9
          - ruby: "3.1"
            appraisal: cucumber_9
          - ruby: "4.0"
            appraisal: rspec_4

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.appraisal }}.gemfile
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: latest
          bundler-cache: true
      - name: Run specs
        run: bundle exec rake spec
      - name: Run cukes
        run: bundle exec rake cucumber

  test-macos:
    strategy:
      fail-fast: false
      matrix:
        # This will automatically pick the latest supported version of Cucumber
        # for each Ruby version
        ruby: ["3.0", "3.1", "3.2", "3.3", "3.4", "4.0"]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: latest
          bundler-cache: true
      - name: Run specs
        run: bundle exec rake spec
      - name: Run cukes
        run: bundle exec rake cucumber

  test-windows:
    strategy:
      fail-fast: false
      matrix:
        # This will automatically pick the latest supported version of Cucumber
        # for each Ruby version
        ruby: ["3.0", "3.1", "3.2", "3.3", "3.4", "4.0"]
    runs-on: windows-latest
    steps:
      - name: git config autocrlf
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: latest
          bundler-cache: true
      - name: Run specs
        run: bundle exec rake spec
      - name: Run cukes (1)
        run: bundle exec cucumber features/01_getting_started_with_aruba/
      # - name: Run cukes (2)
      #   run: bundle exec cucumber features/02_configure_aruba/
      # - name: Run cukes (3)
      #   run: bundle exec cucumber features/03_testing_frameworks/
      # - name: Run cukes (4)
      #   run: bundle exec cucumber features/04_aruba_api/
      # - name: Run cukes (5)
      #   run: bundle exec cucumber features/05_use_rspec_matchers/
      # - name: Run cukes (6)
      #   run: bundle exec cucumber features/06_use_aruba_cli/
      # - name: Run cukes (8)
      #   run: bundle exec cucumber features/08_other/

  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0.1"
          bundler-cache: true
      - name: Install and run license_finder
        run: |
          gem install license_finder
          license_finder
      - name: Run linters
        run: bundle exec rake lint
